doctype html
html
  head
    meta(charset='utf-8')
    title すごいほわいとぼーど
    link(rel="stylesheet",href="./css/default.css",type="text/css")
  body
    canvas#canvas
      h1 HI
    div#color_panel.inactive
      div.translucent
      div.yellow
      div.red
      div.green
    div#dialog
      h1 Are you sure?
      button#dialog_yes Yes
      button#dialog_no No
    script(type='text/javascript',src='jquery-2.1.1.min.js')
    script(type='text/javascript',src='jquery-ui-1.11.2/jquery-ui.min.js')
    script(type='text/javascript',src='MobileServices.Web-1.2.5.min.js')
    script(type='text/javascript',src='app.js')
